/* Basic layout */
html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 6rem;
  border-bottom: 3px ridge red;
  width: 70vw;
  margin: 0 auto;
}

.main {
  margin: 3ch 6ch;
}

/* Galery Grid */
.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}

.images-grid__image {
  margin: 5px;
  float: left;
  width: 100%;
  /* shadow from w3schools */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  
}

/* force the img to fit the container */
.images-grid__image img { 
  width: 100%;
  height: auto;
}

img:hover {
  border: 1px solid rgb(197, 0, 0);
}

.description {
  text-transform: capitalize;
  font-size: 3rem;
  padding: 15px;
  text-align: center;
}

/* may change it later, may never change it */
@media only screen and (min-width: 1250px) {
  .images-grid__image:nth-child(1) .description{
    transform: translateY(35px);
    /* font-size: 1rem; */
  }
  .images-grid__image:nth-child(2) .description,
  .images-grid__image:nth-child(5) .description,
  .images-grid__image:nth-child(9) .description{
    transform: translateY(30px);
  }
  .images-grid__image:nth-child(4) .description{
    transform: translateY(20px);
  }
}
