html, body {
  /* margin: 30px 77px; */
  background-color: antiquewhite;
  box-sizing: border-box;
  /* height: 80%; */
}
.container > div {
  display: flex;

  /* align-items: center; */
  font-size: 17px;
  background-color: rgb(58, 58, 187);
  border-radius: 7px;
}

/* mine */
.report {
  grid-area: r;
}
.work {
  grid-area: w;
}
.play {
  grid-area: p;
}
.study {
  grid-area: st;
}

.ex {
  grid-area: e;
}
.social {
  grid-area: so;
}
.care {
  grid-area: c;
}
.container {
  height: 100%;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 200px 200px;
  grid-template-areas:
    ". r r w w p p st st ."
    ". r r e e so so c c .";
}
.container > div {
  display: flex;
  flex-direction: column;
}
/* Box for the Report */
.container > div > div.up_main {
  height: 65%;
  padding: 2ch;
  background-color: rgb(6, 95, 179);
  border-radius: 7px;
}
.container > div > div.down_main {
  height: 35%;
}
/* lower part of report */
.timeframes {
  padding-left: 2ch;
}

/* Box for the 6 cubes */
.container > div > div.gen_up {
  background-color: rgb(6, 95, 179);
  border-radius: 7px;
  height: 20%;
}
.container > div > div.gen_down {
  height: 80%;
}
